$blue:#495a80;
$red:#b31800;
$white:#FFF;

$line:#e5e5e5;

$darker:#a0a0a0;
$dark:#b5b5b5;
$light:#e0e0e0;
$lighter:#eeeeee;
$lighterwhite:rgb(244,244,244);
$lighterblack:rgb(81,81,81);

$linkline:#FE4C40;
$linktext:#DDF0ED;

$co1:#FF6666;
$co2:#FF9966;
$co3:#FFCCCC;
$co4:#CCCC33;
$co5:#99CCCC;
$co6:#66CCCC;
$co7:#8192D6;
$co8:#8F1D78;
$co9:#8A3324;
$co10:#495A80;
$co11:#FD5B78;
$co12:#99CC33;
$co13:#D9B3E6;
$co14:#199475;
$co15:#04DD98;
$co16:#9966CC;
$co17:#DB9019;
$co18:#5ED5D1;
$co19:#1A2D27;
$co20:#FF6E97;
$co21:#F1AAA6;