.page-title {
  padding-top: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.page-subtitle {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}

.elli {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.elli-1 {
  -webkit-line-clamp: 1;
}

.elli-2 {
  -webkit-line-clamp: 2;
}

.elli-3 {
  -webkit-line-clamp: 3;
}

.elli-4 {
  -webkit-line-clamp: 4;
}
.el-form {
  .el-form-item {
    margin-bottom: 22px;
  }
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background: #eaeaea;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: #838383;
}
::-webkit-scrollbar-track {
  border-radius: 7px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 7px;
}

.el-drawer__body {
  overflow: auto;
}